<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjk.bakend.demo.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.cjk.bakend.demo.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="role" jdbcType="VARCHAR" property="role"/>
  </resultMap>

  <!--这是关联查询的实现-->
  <resultMap id="UserItemsMap" type="com.cjk.bakend.demo.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_role" jdbcType="VARCHAR" property="role" />
    <result column="user_version" jdbcType="INTEGER" property="userVersion" />
    <association property="userInformation" column="user_id" javaType="com.cjk.bakend.demo.pojo.UserInformation" select="selectUserInformationByUserId"
      >
      <result column="user_name" jdbcType="VARCHAR" property="userName" />
    </association>
  </resultMap>

  <resultMap id="UserInformationMap" type="com.cjk.bakend.demo.pojo.UserInformation">
    <id column="user_Information_id" jdbcType="INTEGER" property="userInformationId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_mail" jdbcType="VARCHAR" property="userEmail" />
  </resultMap>


  <sql id="Base_Column_List">
    user_id, user_phone, user_password, user_role, user_version
  </sql>
  <sql id="Base_Column_List_info">
    user_Information_id, user_name,user_sex,user_age,user_mail
  </sql>

  <!--关联查询的select代码-->
  <select id="selectByPhone" resultMap="UserItemsMap" parameterType="String">
    select
    <include refid="Base_Column_List"/>
    from user where user_phone=#{userPhone}
  </select>
  <select id="selectUserInformationByUserId" parameterType="INTEGER" resultMap="UserInformationMap">
    select
    <include refid="Base_Column_List_info"/> 
    from user_Information where user_id = #{user_id}
  </select>

  <select id="selectByPrimaryKey" parameterType="Long" resultMap="UserItemsMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cjk.bakend.demo.pojo.User">
    insert into user (user_id, user_phone, user_password
      )
    values (#{userId,jdbcType=INTEGER}, #{userPhone,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cjk.bakend.demo.pojo.User" keyProperty="userId" useGeneratedKeys="true">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="role != null">
        user_role,
      </if>
      <if test="userVersion != null">
        user_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="userVersion != null">
        #{userVersion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjk.bakend.demo.pojo.User">
    update user
    <set>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        user_version = user_version+1,
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER} and user_version = #{userVersion}
  </update>

  <update id="checkUnique" parameterType="String">
    update user
      set user_version = user_version+1 
    where user_phone=#{userPhone} and  user_version = 0
  </update>
</mapper>